@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.2/packages/wanted-sans/fonts/webfonts/variable/complete/WantedSansVariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

*{
  font-weight: 500;
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  user-select: none;
  box-sizing: border-box;
}
.infill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
button{
  padding-inline: 0px;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal_2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal_3.active {
  opacity: 1;
  pointer-events: auto;
}

.modal_3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal_2.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-button{
  text-align: left;
  width: 100%;
  height: 25%;
  border-radius: 16px;
  border: none;
  background-color: white;
  margin-bottom: 8px
}

input {font-size: 0.875rem !important;}
input:focus {outline:none;}

.Top{
  position: sticky;
  top: 0;
  height: 56px;
  background-color: white;
}

.modal-bottom-button{
  text-align: center;
  width: 100%;
  height: 25%;
  border-radius: 16px;
  border: none;
  background-color: white;
  margin-bottom: 1rem
}
.modal.active {
  opacity: 1;
  pointer-events: auto;
}


.react-colorful {
  width: 100% !important;
  height: 54.24% !important;
}
.react-colorful__saturation{
  border-radius: 16px 16px 0px 0px !important;
}
.react-colorful__last-control{
  border-radius: 0px 0px 16px 16px !important;
}

.modal-content {
  background: #F2F2F7;
  padding: 16px;
  border-radius: 32px 32px 0px 0px; /* 수정된 부분 */
  position: fixed;
  height: 32vh;
  bottom: 0;
  box-sizing: border-box;
  width: 100vw;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.modal.active .modal-content {
  transform: translateY(0);
}
.modal_2.active .modal-content {
  transform: translateY(0);
}
.modal_3.active .modal-content {
  transform: translateY(0);
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-container > button {
  height: 40px;
  width: 40px;
}

.list_con{
  margin-bottom: 0.5rem;
  width: 100%; 
  height: 3.5rem;
  background-color: white;
  border-radius: 16px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.list_m{
  width: 100vw;
}
@media screen and (max-width: 360px) {
  .button-container {
    justify-content: space-around;
  }
}

.autotextcolor{
  color: black;
}
.autooutlinecolor{
  outline: 2px solid #F2F2F7;
}
.sp-col{
  background-color: #fff;
}
:root{
  background-color: #F2F2F7;
}
@media (prefers-color-scheme: dark) {
  .sp-col{
    background-color: #1C1C1E;
  }
  .autooutlinecolor{
    outline: 2px solid #000000;
  }
  .modal-button{
    background-color: #1C1C1E;
  }
  .modal-bottom-button{
    background-color: #1C1C1E;
  }
  .modal-content {
    background: #000000;
  }
  .autotextcolor{
    color: white;
  }
  .Top{
    background-color: #1C1C1E;
  }
  .list_con{
    background-color: #1C1C1E;
  }
  :root{
    background-color: #000000;
  }
}

#dark{
  background-color: #1C1C1E;
  color: white;
}
#light{
  background-color: #F2F2F7;
  color: black;
}

@media screen and (min-width: 768px) {
  .modal-button{
    width: 100%;
    height: 3.5rem;
  }
  .modal-content {
    padding: 1rem;
    border-radius: 32px; /* 수정된 부분 */
    position: fixed;
    height: 13rem;
    bottom: 50svh;
    box-sizing: border-box;
    width: 22.5rem;
  }
  .list_con{
    width: 100%; /* 수정된 부분 */
    height: 3.5rem;
    box-sizing: border-box; /* 추가된 부분 */
  }
  .list_m{
    width: 40.5rem;
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
  }
}